.form {
  display: flex;
}

.input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 18px;
  background-color: #212124;
  color: #ffffff;
}

.input::placeholder {
font-size: 18px;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979FF;
  font-size: 20px;
  padding: 15px;
  display: inline-block;
  border: none;
  width: 20%;
}