* {
      outline:none;
      border:none;
      margin:0px;
      padding:0px;
  }

  body {
      background:#333;
  }
 
  #text {
    height: 100%;
      overflow:hidden;
      background-color:#FFF;
      color:#222;
      font-weight:normal;
      font-size: 18px;
      resize:none;
      line-height: 30px;
  }

  textarea {
    padding: 15px;
    width: 400px;
  }

  #title {
    display: none;
  }

  #button {
      cursor: pointer;
      padding: 20px;
      font-size: 18px;
      color:#FFF;
      background-color: #0890c5;
      width: 100%;
  }

  #button:hover {
    background-color: #066f99;
  }

  #wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}