  .outerContainer {
    display: flex;
    height: 100vh;
    background-color: #1f1f22;
  }

  .leftContainer {
    background-color: #242427;
      left: 0;
      height: 100%;
      flex: 0.15;
  }
  
  .main-container {
    flex: 0.5;
    flex-grow: 1;
  }

  .container {
    display: flex;
    flex-direction: column;
    background: #242427;
    justify-content: space-around;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    flex: 0.3;
    flex-grow: 0.5;
  }

  .container .sendButton{
    text-align: center;
    font-size: 17px;
  }

  .sideContainer {
      display: flex;
      flex: 0.2;
      margin: 0px;
      flex-direction: column;
  }

  .wrapper {
    display: flex;
    margin: 0;
    flex-direction: row;
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
    .outerContainer {
      height: 100%;
    }
  
    .container {
      width: 100%;
      height: 100%;
    }
  }
  
  @media (min-width: 480px) and (max-width: 1200px) {
    .container {
      width: 60%;
    }
  }
  