  .textContainer {
    display: flex;
    flex-direction: column;
    left: 0;
    margin: 0;
    color: white;
  }
  
  .activeContainer {
    display: flex;
    align-items: center;
    background-color: #212124;
    border-bottom: 1px solid black;
  }
  
  .students-list-heading {
    padding: 20px 0px;
    background-color: #1A1A1D;
    text-align: center;
    border-bottom: 1px solid black;
  }

  .activeItem {
    display: flex;
    align-items: center;
    margin: 15px 15px;
  }

  .status {
    size: 18px;
    display: inline-block;
    margin: 4px;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    border: 2px solid transparent;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
  }
 .status:before {
      position: absolute;
      top: 50%;
      left: 50%;
    }

 .complete {
    background: #3cb87e;
    border-color: #3cb87e;
    margin-right: 10px;
 }
  
  @media (min-width: 320px) and (max-width: 1200px) {
    .textContainer {
      display: none;
    }
  }
  
