html, body {
    margin: 0px;
    padding: 0px;
    background-color: #1A1A1D;
    color: #fefefe;
    box-sizing: border-box;
}

.join-container {
    display: flex;
    flex-direction: column;
    background-color: #1f1f22;
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.join-container-header {
    margin: 5px 0px;
    font-size: 23px;
}

.join-container-text {
    color: #c0bfbf;
    font-weight: thin;
    margin: 9px 0px 20px;
    font-size: 12px;
}

.join-container span {
    text-align: start;
    padding: 12px 0px 6px 2px;
    font-weight: 600;
    color: #c0bfbf;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.3px;
}

.join-container input {
    border: none;
    width: 100%;
    height: 35px;
    background: none;
    display: block;
    background-color: #242427;
    color: #ffffff;
    border-radius: 2px;
    outline: none;
}

.joinInput mt-20 {
    border: none;
    text-align: center;
}

.join-container input:focus {
    border: 2px solid #326bb6;
    transition: 0.25s;
}

.button-submit {
    background-color: #519872;
    border: none;
    color: #ffffff;
    margin-top: 40px;
    font-size: 13px;
    font-weight: 500;
    width: 100%;
    height: 35px;
    outline: none;
}

.button-submit:hover {
    color: white;
    background-color: #448060;
    transition: 0.3s;
}

@media only screen and (max-width: 380px) {
    html, body {
        background-color: #1A1A1D;
    }
}